@page "/PecMembersTec/PecMembersEdit"
@page "/PecMembersTec/PecMembersEdit/{Id:int}"
@inherits PecMembersEditBase

<h2 style="text-align:center;color:forestgreen">ՏԸՀ անդամի տվյալների խմբագրում</h2>

<div class="alert @StatusClass">@Message</div>

@if (!Show)
{
    <EditForm Model="@pecMemberCurrent" OnValidSubmit="@UpdatePecMember">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-12 row">
            <div class="col-10 row">
                <div class="col-xs-12 col-sm-8">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Անուն։</label>
                        <div class="col-sm-8">
                            <label type="text" readonly class="form-control-plaintext" style="color:forestgreen">@pecMemberCurrent.LastName @pecMemberCurrent.FirstName @pecMemberCurrent.MiddleName</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Վկայական:</label>
                        <div class="col-sm-8">
                            <label type="text" readonly class="form-control-plaintext" style="color:forestgreen">@pecMemberCurrent.Certeficate</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Անձնագիր:</label>
                        <div class="col-sm-8">
                            <label type="text" readonly class="form-control-plaintext" style="color:forestgreen">@pecMemberCurrent.Passport</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Հ․Ծ․Հ․</label>
                        <div class="col-sm-8">
                            <label type="text" readonly class="form-control-plaintext" style="color:forestgreen">@pecMemberCurrent.SSN</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Հաշվառման հասցե:</label>
                        <div class="col-sm-8">
                            <label type="text" readonly class="form-control-plaintext" style="color:forestgreen">@pecMemberCurrent.Adress</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Հեռախոս</label>
                        <div class="col-sm-8">
                            <InputText style="width:170px" class="form-control col-sm-8" @bind-Value="@pecMemberCurrent.PhoneNumber" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Էլ․ հասցե</label>
                        <div class="col-sm-8">
                            <InputText style="width:200px" class="form-control col-sm-8" @bind-Value="@pecMemberCurrent.Email" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Ընտրության օր</label>
                        <div class="col-sm-8">
                            <InputDate style="width:170px" class="form-control col-sm-8" @bind-Value="@pecMemberCurrent.ElectionDay" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Ընտրատարածք</label>
                        <div class="col-sm-8">
                            <InputSelect style="width:170px" id="TEC" class="form-control col-sm-8" @bind-Value="@DistrictIdString" placeholder="TEC">
                                @foreach (var item in ListTEC)
                                    {
                                    <option value="@item">@item.ToString().Replace("_", " ")</option>
                                    }
                                /**/
                                /**/
                                /**/
                                /**/
                                /**/
                                /**/
                            </InputSelect>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Տեղամաս</label>
                        <div class="col-sm-8">
                            <InputNumber style="width:100px" class="form-control col-sm-8" @bind-Value="@pecMemberCurrent.SubDistrictCode" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Համայնք</label>
                        <div class="col-sm-8">
                            <InputSelect style="width:170px" id="Comunity" class="form-control col-sm-8" @bind-Value="@pecMemberCurrent.Name" placeholder="Comunity">
                                @foreach (var item in ListCommunity)
                                    {
                                    <option value="@item">@item</option>
                                    }
                                /**/
                                /**/
                                /**/
                                /**/
                                /**/
                                /**/
                                /**/
                            </InputSelect>
                            @*<ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Comunity)" />*@
                        </div>
                    </div>

                    <div class="form-group row">
                        <button type="submit" class="btn btn-primary ">Թարմացնել</button>&nbsp;&nbsp;
                        <NavLink href="@($"/PecMembersTec/PecMembersTec")" class="btn btn-danger">
                            Չեղարկել
                        </NavLink> &nbsp;&nbsp;
                        <button class="btn btn-danger text-black-50" @onclick="@(() => DeletePecMember(pecMemberCurrent))">
                            Հեռացնել
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}
else
{
    <NavLink href="@($"/PecMembersTec/PecMembersTec")" class="btn btn-outline-success table-btn">
        <i class="fas fa-edit"></i>
        Վերադառնալ ընդհանուր ցանկ
    </NavLink>
}
